In [1]:
import psycopg2
conn = psycopg2.connect(
    dbname="madmajors",
    user="namans",
    password="aRAY_YAR12!",
    host="db",
    port="5432"
)
cursor = conn.cursor()

In [2]:
course_codes = [
    "ASIALANG103",
    "COMP SCI200",
    "MATH 234",
    "PHYSICS 201",
    "ASIALANG104",
    "COMP SCI300",
    "MATH 240",
    "MATH 340",
    "PHYSICS 202",
    "COMP SCI252",
    "COMP SCI320",
    "COMP SCI400",
    "ASIALANG203",
    "COMP SCI354",
    "COMP SCI577",
    "GENETICS133",
    "STAT 240",
    "ASIALANG204",
    "COMP SCI537",
    "COMP SCI540",
    "MUSIC 151",
    "STAT 340",
    "ANTHRO 104",
    "ASIAN 358",
    "COMP SCI544",
    "COMP SCI564"
]

In [5]:
compl_course_tuples = [(code.replace(" ", "")[:-3], code.replace(" ", "")[-3:]) for code in course_codes]

print(compl_course_tuples)

[('ASIALANG', '103'), ('COMPSCI', '200'), ('MATH', '234'), ('PHYSICS', '201'), ('ASIALANG', '104'), ('COMPSCI', '300'), ('MATH', '240'), ('MATH', '340'), ('PHYSICS', '202'), ('COMPSCI', '252'), ('COMPSCI', '320'), ('COMPSCI', '400'), ('ASIALANG', '203'), ('COMPSCI', '354'), ('COMPSCI', '577'), ('GENETICS', '133'), ('STAT', '240'), ('ASIALANG', '204'), ('COMPSCI', '537'), ('COMPSCI', '540'), ('MUSIC', '151'), ('STAT', '340'), ('ANTHRO', '104'), ('ASIAN', '358'), ('COMPSCI', '544'), ('COMPSCI', '564')]

In [12]:
import re

# Input string
input_str = """
SELECT FROM: COMP SCI 407,412,425,435,471,475,506,513,
COMP SCI 514,518,520,524,525,526,532,533,534,536,
COMP SCI 537,538,539,540,541,542,544,552,558,559,561
OR E C E 561 COMP SCI 565,566(SP25 OR AFTER),567,
COMP SCI 570,571,576,577,579,620,635,639,620,640,642
"""

# Initialize a list to hold course tuples
course_tuples = []

# Find all occurrences of a course prefix followed by numbers
matches = re.findall(r"([A-Z ]+?)(\d{3}(?:,\d{3})*)", input_str)

for name, numbers in matches:
    # Clean up the course name
    name = name.strip().replace(" ", "")
    
    # Split numbers by commas and create tuples
    course_numbers = numbers.split(',')
    for number in course_numbers:
        course_tuples.append((name, number))

dict_course_tuples = {}
dict_course_tuples[1] = course_tuples
print(dict_course_tuples)

{1: [('COMPSCI', '407'), ('COMPSCI', '412'), ('COMPSCI', '425'), ('COMPSCI', '435'), ('COMPSCI', '471'), ('COMPSCI', '475'), ('COMPSCI', '506'), ('COMPSCI', '513'), ('COMPSCI', '514'), ('COMPSCI', '518'), ('COMPSCI', '520'), ('COMPSCI', '524'), ('COMPSCI', '525'), ('COMPSCI', '526'), ('COMPSCI', '532'), ('COMPSCI', '533'), ('COMPSCI', '534'), ('COMPSCI', '536'), ('COMPSCI', '537'), ('COMPSCI', '538'), ('COMPSCI', '539'), ('COMPSCI', '540'), ('COMPSCI', '541'), ('COMPSCI', '542'), ('COMPSCI', '544'), ('COMPSCI', '552'), ('COMPSCI', '558'), ('COMPSCI', '559'), ('COMPSCI', '561'), ('ORECE', '561'), ('COMPSCI', '565'), ('COMPSCI', '566'), ('COMPSCI', '570'), ('COMPSCI', '571'), ('COMPSCI', '576'), ('COMPSCI', '577'), ('COMPSCI', '579'), ('COMPSCI', '620'), ('COMPSCI', '635'), ('COMPSCI', '639'), ('COMPSCI', '620'), ('COMPSCI', '640'), ('COMPSCI', '642')]}

In [14]:
credits_left = 18
semesters_left = 3
max_creds_sem = 18
max_creds_take = semesters_left * max_creds_sem
cursor.execute("select count(*) from degree")
num_majors = cursor.fetchone()[0]
num_majors

319

In [16]:
where_clauses = " OR ".join([
    f"(c.course_name LIKE '%{dept}{number}' OR c.course_name LIKE '%{dept}/%{number}')"
    for dept, number in compl_course_tuples
])
print(where_clauses)

(c.course_name LIKE '%ASIALANG103' OR c.course_name LIKE '%ASIALANG/%103') OR (c.course_name LIKE '%COMPSCI200' OR c.course_name LIKE '%COMPSCI/%200') OR (c.course_name LIKE '%MATH234' OR c.course_name LIKE '%MATH/%234') OR (c.course_name LIKE '%PHYSICS201' OR c.course_name LIKE '%PHYSICS/%201') OR (c.course_name LIKE '%ASIALANG104' OR c.course_name LIKE '%ASIALANG/%104') OR (c.course_name LIKE '%COMPSCI300' OR c.course_name LIKE '%COMPSCI/%300') OR (c.course_name LIKE '%MATH240' OR c.course_name LIKE '%MATH/%240') OR (c.course_name LIKE '%MATH340' OR c.course_name LIKE '%MATH/%340') OR (c.course_name LIKE '%PHYSICS202' OR c.course_name LIKE '%PHYSICS/%202') OR (c.course_name LIKE '%COMPSCI252' OR c.course_name LIKE '%COMPSCI/%252') OR (c.course_name LIKE '%COMPSCI320' OR c.course_name LIKE '%COMPSCI/%320') OR (c.course_name LIKE '%COMPSCI400' OR c.course_name LIKE '%COMPSCI/%400') OR (c.course_name LIKE '%ASIALANG203' OR c.course_name LIKE '%ASIALANG/%203') OR (c.course_name LIKE '%COMPSCI354' OR c.course_name LIKE '%COMPSCI/%354') OR (c.course_name LIKE '%COMPSCI577' OR c.course_name LIKE '%COMPSCI/%577') OR (c.course_name LIKE '%GENETICS133' OR c.course_name LIKE '%GENETICS/%133') OR (c.course_name LIKE '%STAT240' OR c.course_name LIKE '%STAT/%240') OR (c.course_name LIKE '%ASIALANG204' OR c.course_name LIKE '%ASIALANG/%204') OR (c.course_name LIKE '%COMPSCI537' OR c.course_name LIKE '%COMPSCI/%537') OR (c.course_name LIKE '%COMPSCI540' OR c.course_name LIKE '%COMPSCI/%540') OR (c.course_name LIKE '%MUSIC151' OR c.course_name LIKE '%MUSIC/%151') OR (c.course_name LIKE '%STAT340' OR c.course_name LIKE '%STAT/%340') OR (c.course_name LIKE '%ANTHRO104' OR c.course_name LIKE '%ANTHRO/%104') OR (c.course_name LIKE '%ASIAN358' OR c.course_name LIKE '%ASIAN/%358') OR (c.course_name LIKE '%COMPSCI544' OR c.course_name LIKE '%COMPSCI/%544') OR (c.course_name LIKE '%COMPSCI564' OR c.course_name LIKE '%COMPSCI/%564')

In [20]:
query = f"""
    SELECT d.degree_name,
           COUNT(*) AS course_count
    FROM degree_course dc
    JOIN course c ON dc.course_id = c.course_id
    JOIN degree d ON dc.degree_id = d.degree_id
    WHERE {where_clauses}
    GROUP BY d.degree_name
    ORDER BY course_count DESC
"""
cursor.execute(query)
rows = cursor.fetchall()


# Print results
for row in rows:
    print(f"Degree name: {row[0]}, Course Count: {row[1]}")

Degree name: Computer Sciences, BA, Course Count: 13
Degree name: Computer Sciences, BS, Course Count: 13
Degree name: Computer Sciences, Certificate, Course Count: 11
Degree name: Data Science, BA, Course Count: 10
Degree name: Data Science, BS, Course Count: 10
Degree name: Statistics, BS, Course Count: 8
Degree name: Statistics, BA, Course Count: 8
Degree name: Computer Engineering, BS, Course Count: 8
Degree name: Industrial Engineering, BS, Course Count: 8
Degree name: Engineering Physics, BS, Course Count: 8
Degree name: Biomedical Engineering, BS, Course Count: 7
Degree name: Atmospheric and Oceanic Sciences, BA, Course Count: 7
Degree name: Atmospheric and Oceanic Sciences, BS, Course Count: 7
Degree name: Molecular and Cell Biology, BS, Course Count: 7
Degree name: Molecular and Cell Biology, BA, Course Count: 7
Degree name: Materials Science and Engineering, BS, Course Count: 7
Degree name: Information Science, BS, Course Count: 7
Degree name: Information Science, BA, Course Count: 7
Degree name: Business: International Business, BBA, Course Count: 6
Degree name: Mechanical Engineering, BS, Course Count: 6
Degree name: Electrical Engineering, BS, Course Count: 5
Degree name: Nuclear Engineering, BS, Course Count: 5
Degree name: Japanese Professional Communication, Certificate, Course Count: 5
Degree name: Japanese, BS, Course Count: 5
Degree name: Japanese, BA, Course Count: 5
Degree name: Astronomy–Physics, BA, Course Count: 5
Degree name: Engineering Mechanics, BS, Course Count: 5
Degree name: Astronomy–Physics, BS, Course Count: 5
Degree name: East Asian Studies, Certificate, Course Count: 5
Degree name: Geology and Geophysics, BA, Course Count: 4
Degree name: Global Cultures, Languages, and Education, Certificate, Course Count: 4
Degree name: Applied Mathematics, Engineering, and Physics, BS AMEP, Course Count: 4
Degree name: Geology and Geophysics, BS, Course Count: 4
Degree name: Physics, BS, Course Count: 4
Degree name: Physics, BA, Course Count: 4
Degree name: Data Science, Certificate, Course Count: 4
Degree name: Chemistry, BS, Course Count: 3
Degree name: Technical Communication, Certificate, Course Count: 3
Degree name: Biology, BS (CALS), Course Count: 3
Degree name: Biology, BA (L&S), Course Count: 3
Degree name: Asian Languages and Cultures, BA, Course Count: 3
Degree name: Business: Actuarial Science, BBA, Course Count: 3
Degree name: Asian Languages and Cultures, BS, Course Count: 3
Degree name: Biology, BS (L&S), Course Count: 3
Degree name: Genetics and Genomics, BS, Course Count: 3
Degree name: Pharmacology and Toxicology, BS, Course Count: 3
Degree name: Chemical Engineering, BS, Course Count: 3
Degree name: Chemistry, BA, Course Count: 3
Degree name: Zoology, BS, Course Count: 2
Degree name: Biochemistry, BA (L&S), Course Count: 2
Degree name: Biochemistry, BS (CALS), Course Count: 2
Degree name: Biochemistry, BS (L&S), Course Count: 2
Degree name: Biological Systems Engineering, BS, Course Count: 2
Degree name: Botany, BA, Course Count: 2
Degree name: Botany, BS, Course Count: 2
Degree name: Civil Engineering, BS, Course Count: 2
Degree name: Economic Analytics, Certificate, Course Count: 2
Degree name: Entomology, BS, Course Count: 2
Degree name: Environmental Engineering, BS, Course Count: 2
Degree name: Environmental Sciences, BA (L&S), Course Count: 2
Degree name: Environmental Sciences, BS (CALS), Course Count: 2
Degree name: Environmental Sciences, BS (L&S), Course Count: 2
Degree name: Game Design, Certificate, Course Count: 2
Degree name: Geological Engineering, BS, Course Count: 2
Degree name: Mathematics, BA, Course Count: 2
Degree name: Mathematics, BS, Course Count: 2
Degree name: Microbiology, BA (L&S), Course Count: 2
Degree name: Microbiology, BS (CALS), Course Count: 2
Degree name: Microbiology, BS (L&S), Course Count: 2
Degree name: Neurobiology, BA, Course Count: 2
Degree name: Neurobiology, BS, Course Count: 2
Degree name: Nutritional Sciences, BS, Course Count: 2
Degree name: Physics, Certificate, Course Count: 2
Degree name: Plant Pathology, BS, Course Count: 2
Degree name: Statistics, Certificate, Course Count: 2
Degree name: Zoology, BA, Course Count: 2
Degree name: Conservation Biology, BS, Course Count: 1
Degree name: Conservation Biology, BA, Course Count: 1
Degree name: Communication Sciences and Disorders, BSE, Course Count: 1
Degree name: Integrated Studies in Science, Engineering, and Society, Certificate, Course Count: 1
Degree name: International Business, Certificate, Course Count: 1
Degree name: Business: Supply Chain Management, BBA, Course Count: 1
Degree name: Business: Risk Management and Insurance, BBA, Course Count: 1
Degree name: Business: Real Estate and Urban Land Economics, BBA, Course Count: 1
Degree name: Kinesiology, BS, Course Count: 1
Degree name: Linguistics, BA, Course Count: 1
Degree name: Linguistics, BS, Course Count: 1
Degree name: Business: Operations and Technology Management, BBA, Course Count: 1
Degree name: Business: Finance, Investment, and Banking, BBA, Course Count: 1
Degree name: Business: Entrepreneurship, BBA, Course Count: 1
Degree name: Mathematics, Certificate, Course Count: 1
Degree name: Business: Marketing, BBA, Course Count: 1
Degree name: Business: Accounting, BBA, Course Count: 1
Degree name: Anthropology, BS, Course Count: 1
Degree name: Economics, BS, Course Count: 1
Degree name: Economics, BA, Course Count: 1
Degree name: Digital Studies, Certificate, Course Count: 1
Degree name: Wildlife Ecology, BS, Course Count: 1
Degree name: Business: Management, BBA, Course Count: 1
Degree name: Business: Information Systems, BBA, Course Count: 1
Degree name: Arts and Teaching, Certificate, Course Count: 1
Degree name: Art, BFA, Course Count: 1
Degree name: Fermented Foods and Beverages, Certificate, Course Count: 1
Degree name: Food Science, BS, Course Count: 1
Degree name: Business: Human Resource Management, BBA, Course Count: 1
Degree name: Digital Media Analytics, Certificate, Course Count: 1
Degree name: Anthropology, BA, Course Count: 1
Degree name: Design Strategy, Certificate, Course Count: 1
Degree name: Dance, BS, Course Count: 1
Degree name: Dance, BFA, Course Count: 1
Degree name: Global Health, BS, Course Count: 1
Degree name: Health and the Humanities, Certificate, Course Count: 1
Degree name: Horticulture, BS, Course Count: 1

In [21]:
conn.commit()
cursor.close()
conn.close()